---
import SiteLayout from "../layouts/SiteLayout.astro"
import Icon from "@iconify/svelte";
let work = [
    {
      title: "Front-end Web Developer, Progressive Victory", 
      description: "Designed and implemented front-end website experience with coordination with staff and other volunteers"
    },
    {
      title: "Summer School Teacher, South Pasadena Education Foundation", 
      description: "Taught students coding fundamentals using Scratch, Minecraft, and Piper DIY Computer Kits, 5 classes total"
    },
    {
      title: "Coding Coach, theCoderSchool Pasadena", 
      description: "Taught students, either in a 1 to 1 or small class setting, coding fundamentals in various languages (Python, Scratch, etc.) with curated lessons to suit their strengths and interests."
    },
    {
      title: "Private Teacher, IvyPrep", 
      description: "Supervised and coached a high school coding team of 3 on creating a Python based application called Medicall, submitted on October 2021, which was picked as a finalist for the CA-27 district."
    },
  ];

  let languages = ["Javascript", "Python", "Java", "Dart", "Scratch", "C#"];
  let technologies = ["Svelte", "Astro", "React", "Flutter", "NextJS"];
---

<SiteLayout title="About">
  <div class="flex flex-col w-full h-full min-w-screen min-h-screen gap-4 bg-black/30">
    <a href="/">
      <p class="text-xl text-accent font-['Radwave'] m-8">← Home</p>
    </a>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="flex flex-col mx-auto gap-4">
        <img src="pfp.jpg" alt="Zeu Capua headshot" class="w-48 h-48 mask mask-squircle"/>
        <p class="text-xl font-['Radwave'] text-center text-primary tracking-wider">Heyo, I'm Zeu!</p>
        <div class="flex flex-row justify-between">
          <a href="https://linkedin.com/in/zeucapua" target="_blank">
            <Icon icon="bi:linkedin" width="32" color="#e779c1" client:load />
          </a>
          <a href="https://github.com/zeucapua" target="_blank">
            <Icon icon="bi:github" width="32" color="#58c7f3" client:load />
          </a>
          <a href="https://instagram.com/retrozeu" target="_blank">
            <Icon icon="bi:instagram" width="32" color="#f3cc30" client:load />
          </a>
          <a href="mailto:zeucapua@gmail.com" target="_blank">
            <Icon icon="bi:mailbox2" width="32" color="#e779c1" client:load />
          </a>
        </div>
      </div>
      
      <div class="flex flex-col gap-3 lg:col-span-2 p-8 my-auto">
        <p class="text-xl font-['Radwave'] tracking-wider">I'm a <span class="text-accent underline underline-offset-4 decoration-accent">developer, educator, and artist,</span> working to create wonderful experiences for everyone.</p>
        <p class="text-lg">
          Keeping the user experience in mind will always result in beautiful designs and amazing solutions under the hood. That's what I aim to do.
        </p>
      </div>
    </div>
  
  
  
    <div class="grid grid-cols-1 border-2 sm:rounded-none p-8 bg-base-100/30 backdrop-blur-sm lg:m-16 lg:rounded-lg">
      <div class="flex flex-row justify-between">
        <p class="text-4xl text-primary font-['Radwave'] tracking-wider">Resume</p>
        <a href="Capua_Resume.pdf" download="">
          <Icon icon="bi:download" width="24" class="mt-1 mr-2" client:load />
        </a>
      </div>
      <span class="block mt-1 max-w-full h-1 bg-primary"></span>
  
  
      <div>
        <p class="text-3xl text-accent font-['Radwave'] tracking-wider mt-8">Skills</p>
        <span class="block mt-1 mb-4 max-w-full h-1 bg-accent"></span>
        <div class="grid grid-cols-3 grid-flow-row gap-2 mx-auto">
          {
            technologies.map((t) => <p class="p-3 border-2 border-accent rounded-lg font-bold">{t}</p>)
          }
          {
            languages.map((l) => <p class="p-3 border-2 border-secondary rounded-lg font-bold">{l}</p>)
          }
        </div>
      </div>
  
      <div>
        <p class="text-3xl text-secondary font-['Radwave'] tracking-wider mt-8">Work</p>
        <span class="block mt-1 max-w-full h-1 bg-secondary"></span>
        <ul class="steps steps-vertical py-0">
          {
            work.map((w) => 
              <li class="step step-secondary" data-content="">
                <div class="px-4 py-4">
                  <p class="text-start font-['Radwave'] tracking-wider text-secondary">{w.title}</p>
                  <p class="text-start">{w.description}</p>
                </div>
              </li>
            )
          }
        </ul>
      </div>
      
    </div>

    <p class="w-full px-8 mt-8 md:mt-0 mb-16 md:w-2/3 mx-auto text-center text-xl tracking-wide">
      Made with <a href="https://astro.build" target="_blank"><span class="no-underline hover:underline hover:text-accent transition-all duration-300">Astro</span></a> and 
      <a href="https://svelte.dev" target="_blank"><span class="no-underline hover:underline hover:text-accent transition-all duration-300">Svelte</span></a>, 
      Designed with <a href="https://tailwindcss.com"><span class="no-underline hover:underline hover:text-accent transition-all duration-300">TailwindCSS</span></a> 
      and <a href="https://daisyui.com" target="_blank"><span class="no-underline hover:underline hover:text-accent transition-all duration-300">daisyUI</span></a>
    </p>

  </div>
</SiteLayout>