---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="Index">
  <div class="flex flex-col w-full h-full gap-8">
    
    <p class="text-5xl lg:text-9xl font-['Radwave'] select-none">Zeu.Dev</p>
    <a href="/blogs">
      <p id="outline" class="text-5xl lg:text-9xl font-['Radwave'] cursor-pointer select-none text-white hover:text-primary transition-colors duration-300">Blog</p>
    </a>
    <a href="/portfolio">
      <p id="outline" class="text-5xl lg:text-9xl font-['Radwave'] cursor-pointer select-none text-white hover:text-secondary transition-colors duration-300">Portfolio</p>
    </a>
  </div>
  
</SiteLayout>