---
import SiteLayout from "../layouts/SiteLayout.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
---
<SiteLayout title="Index">
  <div class="flex flex-col w-full mx-auto my-auto justify-between gap-8">
    
    <p class="text-9xl font-['Radwave'] drop-shadow-2xl select-none">Zeu.Dev</p>
    <a href="/blogs">
      <p id="outline" class="text-9xl font-['Radwave'] cursor-pointer select-none">Blog</p>
    </a>
    <p id="outline" class="text-9xl font-['Radwave'] cursor-pointer select-none">Portfolio</p>
    <p id="outline" class="text-9xl font-['Radwave'] cursor-pointer select-none">About</p>
    
  </div>
  
</SiteLayout>

<style>
  #outline {
    color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    transition-duration: 150ms;
  }

  #outline:hover {
    color: #58c7f3;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #58c7f3;
  }
</style>