---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="Index">
  <div class="flex w-full md:w-5/6 mx-auto md:bg-black md:bg-opacity-10 md:backdrop-blur-xl md:shadow-xl justify-center p-8 ">
    
  </div>
</SiteLayout>
