---
import SiteLayout from "../layouts/SiteLayout.astro"
import SeeSrc from '../components/seesrc/SeeSRC.svelte'

---

<SiteLayout title="SeeSRC">
  <div class="flex flex-col w-full mx-auto my-auto justify-between gap-8">
    <SeeSrc client:only="svelte"/>
  </div>
</SiteLayout>


