@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans-Variable.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Variable.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hoover';
  src: url('/fonts/Hoover-Variable.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


