---
import SiteLayout from "./SiteLayout.astro";
const { frontmatter } = Astro.props; 
---

<SiteLayout title={frontmatter.title}>
  <div class="flex w-full mx-auto p-8 bg-black/50">
    <article class="prose md:prose-xl overflow-hidden">
      <slot />
    </article>
  </div>
</SiteLayout>