---
import SiteLayout from "./SiteLayout.astro";
const { frontmatter } = Astro.props; 
---

<SiteLayout title={frontmatter.title}>
  <div class="flex w-full mx-auto justify-center p-8 ">
    <article class="prose md:prose-xl overflow-hidden">
      <slot />
    </article>
  </div>
</SiteLayout>