---
import GlobalStyles from "../components/GlobalStyles.astro";

const {title} = Astro.props;
---

<html lang="en" data-theme="synthwave">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title === "Index" ? "zeu.dev" : title + " | zeu.dev"}</title>
  </head>
  <body>
    
      <div class="flex flex-col w-full min-w-screen h-full min-h-screen bg-[url('/4.jpg')] bg-cover bg-transparent bg-fixed">
        <main id="swup" class="transition-fade">
          <slot />
        </main>
      </div>
      
    
  </body>
</html>

<script>
  import Swup from 'swup';
  const swup = new Swup();
</script>

<style>
  .transition-fade {
    transition: 0.25s;
    opacity: 1;
  }

  html.is-animating .transition-fade {
    opacity: 0;
  }

</style>