---
import GlobalStyles from "../components/GlobalStyles.astro";

const {title} = Astro.props;
---



<html lang="en" data-theme="synthwave">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title === "Index" ? "zeu.dev" : title + " | zeu.dev"}</title>
  </head>
  <body>
    <div class="w-full min-w-screen h-full min-h-screen bg-[url('/4.jpg')] bg-cover bg-transparent bg-fixed">
      <div id="swup" class="wrapper">
        <slot />
      </div>
    </div>
  </body>
</html>


<script>
  import Swup from 'swup';
  import SwupA11yPlugin from '@swup/a11y-plugin';
  import SwupFadeTheme from '@swup/fade-theme';

  const swup = new Swup({
    plugins: [new SwupA11yPlugin(), new SwupFadeTheme()]
  })

</script>